@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #25284c;
  --secondary-color: #fefefe;
  --border-primary-color: ##222240;
  --background-primary-color: #191a33;
  --tooltip-bg-color: #333;
  --success-color: #107b11;
  --warning-color: #ff0032;
  --light-color: #FFCC5B;
  --primary-light:#8689C3;
}
